# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# ENTORNO VIRTUAL
# ===============================
venv/
.env/

# ===============================
# BASE DE DATOS (CRITICO)
# ===============================
instance/
*.db

# ===============================
# IDE (PyCharm / VSCode)
# ===============================
.idea/
.vscode/

# ===============================
# SISTEMA OPERATIVO
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS
# ===============================
*.log
