{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h3 class="text-center mb-4">🚀 Crear empresa</h3>

                <form method="POST">

                    <div class="mb-3">
                        <label>Nombre de la empresa</label>
                        <input type="text" name="empresa" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Email administrador</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Contraseña</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button class="btn btn-success w-100">
                        Crear empresa
                    </button>

                </form>

                <hr>
                <p class="text-center">
                    ¿Ya tenés cuenta?
                    <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
                </p>

            </div>
        </div>

    </div>
</div>

{% endblock %}
