<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>On TimeCheck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- GRAFICO -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Playwrite+NZ+Basic&display=swap" rel="stylesheet">

    <!-- TABLAS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>

<body class="bg-light">

<!-- NAVBAR SUPERIOR -->
<nav class="navbar nave shadow-sm">
    <div class="container-fluid px-3">

        <a class="navbar-brand brand-otc" href="{{ url_for('main.dashboard') }}">
            <img src="{{ url_for('static', filename='img/logoOTC.png') }}" alt="logo">
            <span class="titulo">
                OnTime<span class="brand-accent">Check</span>
            </span>

        </a>

        <div class="d-none d-lg-flex align-items-center gap-4 menu">

            {% if current_user.rol in ['admin','supervisor','empleado'] %}
                <a href="/fichaje" class="nav-link">🕒 Fichaje</a>
             {% endif %}

            {% if current_user.rol in ['admin','supervisor'] %}
                <a href="/reportes" class="nav-link">📊 Reportes</a>
                <a href="/asistencias" class="nav-link">🕒 Asistencias</a>
             {% endif %}

            {% if current_user.rol == 'admin' %}
                <a href="/empleados" class="nav-link">👥 Empleados</a>
                <a href="/auditoria" class="nav-link">🧾 Auditoría</a>
                <a href="/usuarios" class="nav-link">🔐 Usuarios</a>
                <a href="/empresa/configuracion" class="nav-link">🏢 Empresa</a>
            {% endif %}



            <a href="/logout" class="nav-link text-danger fw-semibold">Salir</a>
        </div>

        {% if current_user.is_authenticated %}
        <span class="navbar-text correo_usuario d-none d-lg-block">
            {{ current_user.email }} | 🏢 {{ g.empresa.nombre }}
        </span>
        {% endif %}

        <button class="navbar-toggler d-lg-none" type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>

<!-- MENU LATERAL -->
<div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="menuLateral">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">

        {% if current_user.is_authenticated %}

            <p class="small">
                {{ current_user.email }} <br>
                🏢 {{ g.empresa.nombre }}
            </p>

            <hr>
            <!-- empleado -->
            {% if current_user.rol in ['admin','supervisor','empleado'] %}
                <a href="/fichaje" class="btn btn-outline-light w-100 mb-2">🕒 Fichaje</a>

            {% endif %}

            <!-- ADMIN Y SUPERVISOR -->
            {% if current_user.rol in ['admin','supervisor'] %}
                <a href="/asistencias" class="btn btn-outline-light w-100 mb-2">🕒 Asistencias</a>
                <a href="/reportes" class="btn btn-outline-light w-100 mb-2">📊 Reportes</a>

            {% endif %}

            <!-- SOLO ADMIN -->
            {% if current_user.rol == 'admin' %}
                <a href="/empleados" class="btn btn-outline-light w-100 mb-2">👥 Empleados</a>
                <a href="/auditoria" class="btn btn-outline-light w-100 mb-2">🧾 Auditoría</a>
                <a href="/usuarios" class="btn btn-outline-light w-100 mb-2">🔐 Usuarios</a>
                <a href="/empresa/configuracion" class="btn btn-outline-light w-100 mb-2">🏢 Empresa</a>
            {% endif %}

            <hr>
            <a href="/logout" class="btn btn-danger w-100">Salir</a>

        {% endif %}

    </div>
</div>


<main class="main-container">

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="mt-4">
            {% block content %}{% endblock %}
        </div>

    </div>

</main>




<!-- Bootstrap JS (IMPORTANTE) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- SWEET ALERT -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function confirmDelete(id) {
    Swal.fire({
        title: '¿Eliminar asistencia?',
        text: "Esta acción no se puede deshacer",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#e11d48',
        cancelButtonColor: '#64748b',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/asistencias-admin/eliminar/" + id;
        }
    })
}
</script>




<footer class="footer-app mt-5">
    <div class="container text-center">
        <small>OnTimeCheck © 2026</small>
    </div>
</footer>



</body>
</html>
