{% extends "base.html" %}
{% block content %}

<h3>🔐 Cambiar contraseña</h3>

<form method="POST" class="card p-4 shadow-sm mt-4">

    <div class="mb-3">
        <label>Contraseña actual</label>
        <input type="password" name="actual" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Nueva contraseña</label>
        <input type="password" name="nueva" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Confirmar nueva contraseña</label>
        <input type="password" name="confirmar" class="form-control" required>
    </div>

    <button class="btn btn-primary">Actualizar contraseña</button>

</form>

{% endblock %}