{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <h2>
        {% if empleado %}
            Editar Empleado
        {% else %}
            Nuevo Empleado
        {% endif %}
    </h2>

    <form method="POST" class="mt-4">

        <div class="mb-3">
            <label>DNI</label>
            <input type="text"
                   name="dni"
                   class="form-control"
                   value="{{ empleado.dni if empleado else '' }}"
                   required>
        </div>

        <div class="mb-3">
            <label>Apellido</label>
            <input type="text"
                   name="apellido"
                   class="form-control"
                   value="{{ empleado.apellido if empleado else '' }}"
                   required>
        </div>

        <div class="mb-3">
            <label>Nombre</label>
            <input type="text"
                   name="nombre"
                   class="form-control"
                   value="{{ empleado.nombre if empleado else '' }}"
                   required>
        </div>

        <div class="mb-3">
            <label>Sucursal</label>
            <select name="sucursal_id" class="form-select" required>
                {% for s in sucursales %}
                    <option value="{{ s.id }}"
                        {% if empleado and empleado.sucursal_id == s.id %}
                            selected
                        {% endif %}
                    >
                        {{ s.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>


        <hr>

<h5>Horario laboral (opcional)</h5>

<div class="row">

    <div class="col-md-4">
        <label class="form-label">Hora inicio turno</label>
        <input type="time"
               name="turno_inicio"
               class="form-control"
               value="{{ empleado.turno_inicio if empleado else '' }}">
    </div>

    <div class="col-md-4">
        <label class="form-label">Hora fin turno</label>
        <input type="time"
               name="turno_fin"
               class="form-control"
               value="{{ empleado.turno_fin if empleado else '' }}">
    </div>

    <div class="col-md-4">
        <label class="form-label">Tolerancia (minutos)</label>
        <input type="number"
               name="tolerancia_minutos"
               class="form-control"
               min="0"
               max="120"
               value="{{ empleado.tolerancia_minutos if empleado else 15 }}">
    </div>

</div>

        <div class="d-flex justify-content-between">
            <a href="{{ url_for('empleados.lista_empleados') }}"
               class="btn btn-secondary">
                Cancelar
            </a>

            <button type="submit" class="btn btn-primary">
                Guardar
            </button>
        </div>

    </form>

</div>
{% endblock %}