{% extends "base.html" %}
{% block title %}Reportes{% endblock %}
{% block content %}

<h2 class="mb-4">👋 Bienvenido a OnTimeCheck</h2>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h4>📊</h4>
                <h5>Resumen diario</h5>
                <p class="text-muted">Datos diario del personal</p>
                <a href="{{ url_for('reportes.reporte_diario') }}"
           class="btn btn-primary w-100 p-3">Ver Reporte</a>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h4>📊</h4>
                <h5>Reportes Mensual</h5>
                <p class="text-muted">Horas trabajadas y estadísticas</p>
                <a href="/reportes/mensual" class="btn btn-success w-100">
                    Ver reportes
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h4>📅</h4>
                <h5>Planificacion Mensual</h5>
                <p class="text-muted">Gestiona horarios, francos, licencias </p>
                <a href="{{ url_for('horarios.calendario') }}"
           class="btn btn-success w-100 p-3">
                    Planificar horarios
                </a>
            </div>
        </div>
    </div>

</div>

<hr class="my-4">




{% endblock %}
