{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">👤 Usuarios de la empresa</h2>

<a href="{{ url_for('usuarios.nuevo_usuario') }}" class="btn btn-success mb-3">
    ➕ Nuevo usuario
</a>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Rol</th>
            <th>Usuario</th>
            <th>Password</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.email }}</td>
            <td>{{ u.rol }}</td>

            <td>
            {% if u.empleado %}
                {{ u.empleado.apellido }}, {{ u.empleado.nombre }}
            {% else %}
                <span class="text-muted">—</span>
            {% endif %}
        </td>
            <td><form method="POST" action="/usuarios/reset-password/{{ u.id }}" style="display:inline;">
    <input type="password" name="nueva_password" placeholder="Nueva contraseña"
           class="form-control form-control-sm d-inline w-50" required>
    <button class="btn btn-sm btn-danger">Reset</button>
</form></td>
            <td>
    <form method="POST"
          action="{{ url_for('usuarios.eliminar_usuario', id=u.id) }}"
          onsubmit="return confirm('¿Eliminar este usuario?');"
          style="display:inline;">
        <button class="btn btn-sm btn-outline-danger">
            Eliminar
        </button>
    </form>
</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
